[user]
	name = Joe Maller
	email = joe@joemaller.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[branch]
	autosetupmerge = true
[core]
	excludesfile = /Users/joe/.gitignore_global
	ignorecase = false
[push]
	default = simple
	followTags = true
[pager]
	branch = false
[receive]
	denyCurrentBranch = updateInstead
